<section class="posts">
  <%= render partial: "shared/back", locals: {back:user_path(id:params[:user_id])} %>
  <%= render partial: "shared/user", locals: {user: @user} %>
  <% @posts.each do |current_post| %>
    <div class="post-item">
      <%= render partial: "shared/post", locals: {post: current_post} %>
      <div class="post-comments container">
        <%= render partial: "shared/comment", collection: current_post.recent_comments %>
        <%= render partial: "shared/comment_form", locals: {user_id: current_post.author_id, post_id: current_post.id} %>
      </div>
    </div>
  <% end %>
  <button class="pagination"><%= link_to "Make a Post", new_user_post_path, class:"link-to_user" %></button>
</section>
